

.progress-tracker {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 20px 0 20px 0;
    padding: 0;
}

.progress-tracker li {
    float: left;
    text-align: center;
    position: relative;
}

.progress-tracker .name {
    display: block;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 1em;
    color: black;
    opacity: 0.3;
}

.progress-tracker .step {
    color: black;
    border: 4px solid #B0BEC5;
    background-color: white;
    border-radius: 50%;
    line-height: 2.7;
    height: 45px;
    width: 45px;
    display: inline-block;
    z-index: 0;
}
.progress-tracker .skip .step{
  color: black;
  border: 4px solid #81CE97;
  border-radius: 50%;
  line-height: 2.7;
  height: 45px;
  width: 45px;
  display: inline-block;
  z-index: 0;
}

.progress-tracker .step span {
    opacity: 0.3;
}

.progress-tracker .active .name,
.progress-tracker .active .step span {
    opacity: 1;
}

.progress-tracker li:before {
    content: "";
    display: block;
    background-color: #fff;
    border-top: 2px solid #B0BEC5;
    border-bottom: 2px solid #B0BEC5;
    height: 0.4em;
    width: 50%;
    position: absolute;
    bottom: 1.1em;
    left: 0;
    z-index: -1;
}

.progress-tracker .step:after {
    content: "";
    display: block;
    background-color: #fff;
    border-top: 2px solid #B0BEC5;
    border-bottom: 2px solid #B0BEC5;
    border-left: 0px;
    height: 0.4em;
    bottom: 1.1em;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -1;
}

.progress-tracker li:first-of-type .step:before {
    display: none;
}

.progress-tracker li:last-of-type .step:after {
    display: none;
}

.progress-tracker .done .step,
.progress-tracker .done .step:before,
.progress-tracker .done .step:after,
.progress-tracker .active .step{
  color: #FFF;
  background: #0c95be;
}
.progress-tracker .skip .step,
.progress-tracker .skip .step:before,
.progress-tracker .skip .step:after,{
background-color: #81CE97;
}
.progress-tracker .skip .step{
  border: 4px solid #B0BEC5;

}

.progress-tracker .done .step,
.progress-tracker .active .step {
    border: 4px solid #B0BEC5;

}
.container fieldset:not(.active){
display: none;
}
