html,body,#page, header { height:100%;outline: none;}
input:focus {
    outline:none !important;
}
body{
  padding:0;margin:0;
  color: #696969;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header-container{
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-right{
  margin-right: 0px;
}
.navbar-default{
  background-color: transparent;
  border-color: transparent;

}
.navbar-custom .navbar-brand {
  color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
      font-size: 2em;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fff;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #696969;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #696969;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
.navbar-custom.affix .navbar-toggle{
  color:#696969;
}
  .navbar-custom.affix {
        box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.1);
    background-color: white;
        padding: 5px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 2em;
    color:#696969;
  }
  .navbar-custom.affix .nav li a {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
      color: #696969;


}
#myNav{
  margin-top: 54px;
}
/*
collapse
*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.7s;

}

.overlay-content {
    position: relative;
    width: 100%;
}

.overlay a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    display: none;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

  .parent-header {
    height: 100%;
    width: 100%;
    position: relative;
  z-index: 1;
  overflow:visible;

  }

  .child-header {
      transition: all 2s ease;
      background:url('../images/header.jpg') no-repeat;
      background-position:center;
      background-size:cover;
      filter:brightness(.7);
      z-index: -1;
      height: 398px;
      margin-bottom: 50px;
      width: 100%;
  }

/*Featured titles*/
.featured-title{
  color:#696969;
  font-size: 1.5em;
  padding-bottom: 10px;
  position: relative;
min-height: 1px;
padding-right: 8px;
padding-left: 8px;
}
/*Full deck*/
.deck-row{
  padding-bottom: 20px;
  padding-right: 8px;
  padding-left: 8px;
}
/*resort images in listing*/
.r-img{
  width: 100%;
  height: 188px;
}
/*padding for card*/
.card{
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 10px;
}
/*resort name*/
.r-name,.r-p{
  font-size: 1em;
  margin: 0px;
  font-weight: lighter;
}
.r-content{
  font-size: 1em;
  margin:0px;
}
.r-price{
  font-size: 1.2em;
}
.off-r-price{
  font-size: 1em;
  text-decoration: line-through;
}
.deck-rating > .stars-filter {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.deck-rating >span{
  color:#2f566b;
  font-size: 1.5em;
  content: "\2605";
}
.indiv-rating{
  font-size:1.2em;
  color:#2f566b;
  float: right;

}
/*Full deck*/

/*footer*/
.footer{
  background-color: #2f566b;
  width: 100%;
  padding: 40px 0px 10px;
  color: #fff;
}

.footer2-title{
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: bold;
}
.social-media{
  text-align: center;

}
.social-media>a{
    color: #fff;
}
.social-media>a>i{
  font-size: 40px;
  padding-left:10px;
}
.footer2{
  text-align: center;
  padding-top: 10px;
}

.footer-container{
  margin: 0px auto;
}
@media(min-width:768px){
  .footer-content{
    width: 25%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  .footer-content>p>a{
    color:#fff;

  }
  .footer-hr{
    border-bottom: 1px solid #fff;
        width: 100%;
        clear: both;
        float: left;
  }
  .footer-content>p{
      line-height: 14px;
  }
  .footer-title{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
  }
}
@media(max-width:768px){
  .footer-content{
    display: none;
    height: 100%;
  }
  .footer{
    background-color: #2f566b;
    width: 100%;
    padding: 20px 0px 10px;
    color: #fff;
  }
}
/*filtering page*/
.filter-row, .filtered-resort{
  padding-left: 0px;
  padding-right: 0px;
}
.rating > .stars-filter {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > .stars-filter > span {
  display: inline-block;
  width: 1.1em;
}
.rating > .stars-filter>span{
  color:#2f566b;
  font-size: 1.5em;
}
.rating > .stars-filter > span:hover:before,
.rating > .stars-filter > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.rating, .filter-box-content{
  padding-left:8px;
  padding-right: 8px;
}
.filtered-card{
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 36px;
}
.filter-box{
  padding:10px 20px 10px 10px;
  margin-right: 30px;
  border-bottom: 1px solid #e8e8e8;
}
.filtered-title{
  color:#696969;
  font-size: 1em;
  min-height: 1px;
  font-weight: bold;
}
.filtered-subtitle{
  color:#696969;
  font-size: 1em;
  min-height: 1px;
  font-weight: bold;
  padding-bottom: 5px;
}
.filter-facilities{
  display: block;
}
.filter-price{
  border: 0;
  color: #696969;
  background-color: #fff;
  font-size: 1em;
}
.filter-label{
  font-weight:500;
}
/*search*/
.search-bar{
  width: 100%;
}
.search-location{
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;
  float: left;
}
.search-day{
  width: 13%;
  text-align: left;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.search-date{
  width: 16%;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.search-submit{
  width:17%;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.input-content{
  width: 100%;
  outline: none !important;
  z-index: 5;
  overflow: hidden;
  cursor: pointer;
height: 38px;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
color: #555;
padding: 0px 8px;
}
.input-content:focus,.inputcontent:active{
  outline: none;
}
.search-dropdown{
  padding-left: 10px;
  font-size: 1.1em;
  color: #2f566b;
}
.search-date-icon{
  padding-top:8px;
  font-size: 1.3em;
  color: #2f566b;
}
.search-container{
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.1);
  background-color: white;
  padding: 20px 30px;
}
.search-button{
  background-color: #2f566b;
  color:#fff;
}
.search-title{
  color:#696969;
  font-size: 1.2em;
  padding-bottom: 10px;
  position: relative;
  min-height: 1px;
  font-weight: bold;
}
.ui-autocomplete {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  height: 300px;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
/*search responsive*/
.search-container-responsive{
  display: block;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.1);
  background-color: white;
  padding: 20px 30px;
  margin: auto;
}
.search-location-responsive{
  display: none;
}
.closebtn{
  display: none;
}
.dropdown-menu{
  width: 100%;
}
.dropdown-menu>li>a{
  font-size:14px;
}
@media(max-width:1199px){
  .search-dropdown{
    padding-left: 0px;
  }
}
@media(max-width:768px){
  .ui-autocomplete {
    width: 100px;
  }
  .closebtn{
    display: block;
  }
  .search-location-responsive{
    display: block;
  }
  .search-container{
    display: none;
    overflow: hidden;
  }
  .search-container-responsive{
    display: block;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.1);
    background-color: white;
    padding: 20px 30px;
    margin: 10px;
  }
  .search-bar{
    width: 100%;
  }
  .search-location-responsive{
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    width: 100%;
  }
  .search-location{
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    width: 100%;
  }
  .search-day{
    text-align: left;
    float: left;
    width: 100%;
  }
  .search-date{
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    }
  .search-submit{
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
  }
  .overlay-content-search{
    padding: 0px 25px;
  }
  .overlay .closebtn {
      right: 45px;
      font-size: 60px;
      float: right;
      display: block;
  }
  .search-dropdown{
    padding-left: 10px;
  }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
/*spinner*/
.spin{
  padding-bottom: 10px;
}
/*front end per resort*/
.parent-resort {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow:hidden;
}
.resort-img {
    transition: all 1s ease;
    background:url('../images/balinese/1.png') no-repeat;
    background-position:center;
    background-size:cover;
    z-index: -1;
    height: 398px;
    margin-bottom: 50px;
        overflow: hidden;
    width: 100%;
    cursor: pointer;
}
.parent-resort:hover > .resort-img {
    transform: scale(1.05);
}
.resort-name{
    font-weight: 500;
    line-height: 26px;
    font-size: 24px;
}
.r-review{
    font-weight: 500;
    line-height: 26px;
    padding: 0;
    font-size: 18px;
    display: inline;
    vertical-align: top;
    float: right;
    clear: both;
}
.r-rating{
  font-size:1.5em;
  color:#2f566b;
  float: right;
  clear: both;
}
.r-overall{
  padding-top: 30px;
}
.r-title-description{
  color:#696969;
  font-size: 1.4em;
  position: relative;
  min-height: 1px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 10px;
  clear: both;
  margin-bottom: 10px;
}
.r-content-description{
  padding-left: 0px;
  padding-right: 0px;
}
@media(max-width:768px){
  .r-rating,.r-review{
    float:none;
    text-align: center;
    clear: both;
  }
  .r-title{
    text-align: center;
  }
}
.img-circle{
  margin: 0 auto;
border: 7px solid #fff;
  width:100px;
}
.review-hr{
  border-bottom: 1px solid #e8e8e8;
  clear: both;
  padding-bottom: 10px;
}
.r-review-comment{
  padding-top: 10px;
  padding-bottom: 10px;
}
.r-comment-header{
  font-size: 1.2em;
}
.review-name{
  font-weight: bolder;
  margin:0px;
}
.r-review-rating{
  font-size:1.2em;
  color:#2f566b;
  float: right;
  clear: both;
  margin-top: -5px;
}
.review-content,.r-location{
  padding-top: 10px;
  margin-bottom: 10px;
  clear: both;
}
